<div class="content">
<h2>Trails</h2>
<ul>
  <% Trail.all.each do |t| %>
  <li>
    <% @r_count = t.reviews.count %>
    <a href="/trails/<%= t.id %>"><%= t.name %></a><%= " - ( #{@r_count} Review#{"s" unless @r_count == 1} )"%>
  </li>
  <% end %>
</ul>
<br>
</div>