<% if logged_in? %>
<div class="container">
  <h2><%= @trail.name %></h2>

      <form action="/trails/:id/new_image" method="post">
        <input type="hidden" name="img[trail_id]" value="<%= @trail.id %>">
        <h1>Add An Image</h1>

        <section class="input">
          <label for="url">Image Link:</label>
          <input name="img[url]" id="url" type="url" pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)(.jpg|.png|.gif)" required>
        </section>

        <section class="input">
          <label for="caption">Caption:</label>
          <input type="text" id="caption" name="img[caption]" alt="Image Caption">
        </section>

        <section class="submit">
          <input type="submit" value="Add Image">
        </section>
      </form>
      <br>
</div>

<% else %>
  <div id="flash" class="error">
    <p>You must be logged in to do this!</p>
    <a href="/login"></a>
  </div>
<% end %>