<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Hike-It-Up</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">
  <nav>
    <a href="/">
      <div>Hike It Up</div>
    </a>
    <a href="/trails">
      <div>Trails</div>
    </a>
    <a href="/users">
      <div>Users</div>
    </a>
    <% if !logged_in? %>
      <a href="/login">
        <div>Login</div>
      </a>
      <a href="/signup">
        <div>Sign Up</div>
      </a>
    <% else %>
      <a href="/trails/new">
        <div>Add Trail</div>
      </a>
      <a href="/users/<%= current_user.username %>">
        <div>Profile</div>
      </a>
      <a href="/logout">
        <div>Log Out</div>
      </a>
    <% end %>
  </nav>
        <%= yield %>

      <footer class="branding">
        <small>&copy; 2021 <strong>HikeItUp</strong> - Made with ❤️ By <a href="https://www.github.com/CoachLuck">A.J. Romaniello</a></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
