<div class="container">
  <form action="/login" method="post">
    <h1>Log In to your Account</h1>

    <% if flash[:notice] %>
      <div id='flash' class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div id='flash' class='error'>
        <%= flash[:error] %>
      </div>
    <% end %>

    <section class="input">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
    </section>

    <section class="input">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </section>

    <section class="submit">
      <input type="submit" value="Login">
    </section>
  </form>
</div>

