<div id='flash' class='error'>
  <%= flash[:error] %>
</div>

<div id='flash' class="notice">
  <%= flash[:notice] %>
</div>

<form action="/login" method="post">
  <label for="username">Username: </label>
  <input type="text" id="username" name="username" required>

  <br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>

  <br>

  <input type="submit" value="Login">
</form>
<br>
<a href="/signup">Create an Account</a>