<nav>
  <a href="/">
    <div>Hike It Up</div>
  </a>
  <a href="/trails">
    <div>Trails</div>
  </a>
  <a href="/users">
    <div>Users</div>
  </a>
  <% if !logged_in? %>
    <a href="/login" class="Active">
      <div>Login</div>
    </a>
  <% else %>
    <a href="/logout">
      <div>Log Out</div>
    </a>
  <% end %>
</nav>

<div class="container">
  <form action="/signup" method="post">
    <h1>Create an Account</h1>

    <% if flash[:notice] %>
      <div id='flash' class="notice">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:error] %>
      <div id='flash' class='error'>
        <%= flash[:error] %>
      </div>
    <% end %>

    <section class="input">
      <label for="name">Name:</label>
      <input type="text" id="name" name="user[name]">
    </section>
    <section class="input">
      <label for="username">Username:</label>
      <input type="text" id="username" name="user[username]" required>
    </section>
    <section class="input">
      <label for="password">Password:</label>
      <input type="password" id="password" name="user[password]" required>
    </section>
    <section class="input">
      <label for="password_conf">Confirmation:</label>
      <input type="password" id="password_conf" name="user[password_confirmation]" required>
    </section>

    <section class="submit">
      <input type="submit" value="Sign Up">
    </section>
  </form>
</div>
