<div class="container">
  <header>
    <nav>
    <a href="/">
      <div>Hike It Up</div>
    </a>
    <a href="/trails">
      <div>Trails</div>
    </a>
    <a href="/users" class="active">
      <div>Users</div>
    </a>
    <% if !logged_in? %>
      <a href="/login">
        <div>Login</div>
      </a>
      <a href="/signup">
        <div>Sign Up</div>
      </a>
    <% else %>
      <a href="/logout">
        <div>Log Out</div>
      </a>
    <% end %>
  </nav>
  </header>
  <br>

  <div class="col-md-8 col-md-offset-2">
    <h1>Hike It Up</h1>

    <div class="content">
      <p>Welcome to <b>Hike It Up</b>, a web application focused on rating and sharing different hiking trails around the world. To get started reviewing or adding trails, <a href="/signup">create an account</a>, or feel free to just browse around. For more information, see the <a href="https://github.com/CoachLuck/hike-it-up">README</a>.</p>
      <p></p>
    </div>

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
