<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Hike It Up</h1>

    <div class="content">
      <p>Welcome to <b>Hike It Up</b>, a web application focused on rating and sharing different hiking trails around the world. To get started reviewing or adding trails, <a href="/signup">create an account</a>, or feel free to just browse around. For more information, see the <a href="https://github.com/CoachLuck/hike-it-up">README</a>.</p>
      <p>This project was built using <a href="https://github.com/thebrianemory/corneal">Corneal</a> to scaffold and create sinatra routes and view directories.</p>
      <p>HikeItUp also uses MySQL with ActiveRecord to handle your data. All passwords are encrpyted using <a href="https://github.com/codahale/bcrypt-ruby">bcrypt-ruby</a>.</p>
    </div>

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
